*
body {
    font-family: Lucida Console;
    background-color: rgb(0, 0, 0);
  }

table, td, th {  
border: 2px solid rgb(238, 255, 1);
text-align: left;
}

table {
border-collapse: collapse;
width: 50%;
}

th, td {
padding: 10px;
}